<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.softbalance.equipment">

    <application android:theme="@style/EquipmentLibTheme">
        <activity android:name=".view.DriverSetupActivity" />
    </application>

</manifest>